# Dependencias
node_modules/

# Archivos de build
dist/
build/

# Archivos de configuración que no quieras subir
.env
package-lock.json
package.json
postcss.config.js
tailwind.config.js
vite.config.js
eslint.config.js

# Archivos públicos
public/

# Otros
.gitignore
README.md
4.txt